.footer{
    padding: 60px 0;
}
.footer .email {
    margin: 40px 0;
}
.footer .email .form-control {
    max-width: 343px;
    background-color: #D9D9D9;
    border-radius: 0;
    margin: 0 20px;
}
.footer .btn-secondary{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.23em;
}
.footer .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 11px;
    font-weight: 700;
    color: #979797 !important;
    letter-spacing: 0.13em;
}
.footer-copyright p {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.045em;
    color: #777777;
    margin: 20px 0;
}